.karizma-centerheader{
    text-align: center;
    background:assets/1.jpg;
}
.profile-pic{
    border-radius: 50%;
}
.carousel-item {
 height: 250px;
 width: 300px;
    text-align: center;
}

.item1 {
  background-color:rgb(179, 227, 191);
}

.item2 {
  background-color:rgb(171, 217, 217);
  
}

.item3 {
  background-color:rgb(244, 202, 237);
}
